.nav-items {
  display: flex;
  list-style: none;
  gap: 3rem;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}
.nav-items a {
  text-decoration: none;
  color: black;
}
.service-btn {
  background: transparent;
  border-style: none;
  &:hover {
    cursor: pointer;
  }
}
.nav-container {
  position: relative;
  bottom: 20rem;
}
